#time {
  font-size: 20vw;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 5vw;
  text-align: center;
  margin: 1;
}

h3 {
  position: fixed;
  margin: 20px;
  bottom: 0px;
  font-size: 35px;
}